.navbar {
  display: flex;
  justify-content: space-between;
  width: 97%;
  align-items: center;
  padding: 15px 20px;
  background-color: white;
}

#addButton {
  width: 100%;
  height: 100%;
  font-size: 5vw;
  color: white;
  transition:all 0.3s; 
  background-color: #aaaaaa;
}

#addButton:hover{
  font-size: 5.5vw;
  width: 105%;
}

.materialData{
  padding-top: 10px;
}

.material-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  width: 170px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.deleteButton{
  width: 80px;
}
.editButton{
  width: 80px;
  background-color: rgb(244, 188, 48);
  color: white;
}
.editButton:hover{
  background-color: rgb(205, 155, 30);
}


.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
  
.popup-content {
  position: relative;
  width: 80%;
  max-width: 500px;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}


.inputs_container{
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.input_container{
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;
}
.input_container input{
  margin-top: 5px;
  width: 200px;
}

#material-popup-title{
  margin-bottom: 50px;
}

.input_container b{
  font-size: 20px;
  padding-top: 10px;
}

.input_container input{
  padding: 12px 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

#material-lower-bound-input{
  width: 75px;
}

#material-upper-bound-input{
  width: 75px;
}

#form_container {
  padding: 20px;
}

.saver-container button{
  width: 300px;
}

#save-button{
  background-color: #4CAF50;
  color: white;
}

#save-button:hover{
  background-color: #288028;
}

#reload-button{
  background-color: #4CAF50;
  color: white;
}

#reload-button:hover{
  background-color: #288028;
}

#cancel-button{
  background-color: #e74c3c;
  color: white;
}

#cancel-button:hover{
  background-color: #c0392b;
}

.material-name {
  color: inherit;
}

.material-density {
  color: inherit;
}
.material-bounds {
  color: inherit;
}

#material-type{
  padding: 12px 15px;
  width: 230px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.unaligned{
  text-align: start;
  margin-bottom: 20px;
}


#stepOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 10;
}

#stepPopup {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 20;
}

.hidden {
  display: none;
}

.highlightable {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

.highlight {
  position: relative;
  z-index: 15;
  background-color: yellow;
}
