@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f0f0f0;
  color: #333;
  font-family: 'Montserrat',sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 30px;
  min-height: 100vh;
}


.navbar {
  display: flex;
  justify-content: space-between;
  width: 97%;
  align-items: center;
  padding: 15px 20px;
  background-color: white;
}

.navbar-left {
  display: flex;
  gap:5px;
}

.navbar-left a {
  color: gray;
  text-decoration: none; 
  padding: 8px 12px; 
  font-weight: bold;
  transition: background-color 0.3s; 
}

.navbar-left a:hover {
  background-color: rgba(100, 100, 100, 0.2); 
  border-radius: 5px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logout-button {
  background-color: #f44336; 
  color: white;
  border: none; 
  padding: 10px 15px; 
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #c62828; 
}

button {
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
}

img {
  max-width: 50%;
  max-height: 500px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

#uploadForm {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  width: max(800px, 80vw);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#fileInput {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 2px dashed gray;
  height: 150px;
  font-size: 16px;
  background-color: #f8f8f8;
  outline: none;
}

#buttonContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: end;
  gap: 10px;
}

#buttonContainer button {
  background-color: #4CAF50;
  color: white;
  width: 100%;
  height: 40px;
}

.deleteButton {
  background-color: #e74c3c;
  color: white;
  margin-top: 10px;
  width: 100px;
}

.deleteButton:hover {
  background-color: #c0392b;
}

#buttonContainer button:hover{
  background-color: #288028 !important;
}

#exportButton {
  background-color: #4CAF50;
  color: white;
  width: 100%;
}

#nextStep:hover{
  background-color: #288028;
}

#nextStep {
  background-color: #4CAF50;
  color: white;
}

#exportButton:hover{
  background-color: #288028;
}

#fileContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
  background-color: #fafafa;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.file-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  width: 150px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.file-name {
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}

.file-size {
  color: #666;
  font-size: 12px;
}

.filePic {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  margin-bottom: 10px;
} 

.materialSelect {
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 14px;
}

pre{
  font-size: 1rem;
}

span{
  color:goldenrod;
}

.account-name {
  font-weight: bold;
  color: gray;
}

#graphContainer {
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 100%; 
  max-width: 800px; 
  margin: 0 auto; 
  padding: 20px;
  box-sizing: border-box;
}

#plotImage {
  max-width: 800px;
  max-height: 700px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#textContainer {
  display: flex;
  justify-content: space-between; 
  width: 100%;
  gap: 10px;
}

pre {
  flex: 1; 
  background-color: #f0f0f0; 
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1rem; 
}







.dropdown-container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.expand-button {
  width: 100%;
  padding: 15px;
  background-color: #e6e4e4;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: left;
  outline: none;
}

.expand-button:hover {
  background-color: #c7c7c7;
}

.image-container {
  display: none;
  border: none;
}

.image-container img {
  width: auto; 
  height: auto;
  max-width: 90%;
  display: block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

a.selected{
  background-color: rgba(100, 100, 100, 0.2); 
  border-radius: 5px;
  padding: 8px 12px; 
  color: #4191E2;
  
}

.selected:hover{
  background-color: inherit;
  border-radius: inherit;
}

#result-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left, .right {
  flex: 1;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
  width: max(400px, 40vw);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-height: 500px;
}

#result-container{
  display: none;
}

#stepOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 10;
}

#stepPopup {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 20;
}

.hidden {
  display: none;
}

.highlightable {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

.highlight {
  position: relative;
  z-index: 15;
  background-color: yellow;
}
