<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        UHPC optimization
    </title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/account.css">
</head>
<body>
    <nav class="navbar">
      <div class="navbar-left">
          <a href="/main">Home</a>
          <a href="/materials">My Materials</a>
          <a href="/spreadsheet">Spreadsheet Template</a>
          <a href="/account" class="selected">Account</a>
      </div>
      <div class="navbar-right">
          <span class="account-name"></span>
          <button class="logout-button" onclick="logout()">Logout</button>
      </div>
    </nav>

    <div id="popup" class="popup">
      <div class="popup-content">
        <span class="close-btn" onclick="hidePopup()">&times;</span>
        <h2 id="material-popup-title">Updated Successfully!</h2>
        <div class="saver-container">
          <button id="reload-button" type="button" onclick="hidePopup()">Cancel</button>
        </div>
      </div>
    </div>

    <form id="uploadForm">
      <h1>Account Settings</h1>
      <div class="input_container">
        <b>Full Name: </b><input type="text" placeholder="Enter new name" value="" id="material-name-input">
      </div>
      <div class="input_container">
        <b>Email: </b><input type="text" placeholder="Enter new email" value="" id="material-density-input">
      </div>
      <div class="input_container">
        <b>Old Password: </b><input type="password" placeholder="Enter old password" value="" id="password-input">
      </div>
      <div class="input_container">
        <b>New Password: </b><input type="password" placeholder="Enter new password" value="" id="password-new-input">
      </div>
        <div class="saver-container">
          <button id="save-button" type="button">Save Changes</button>
        </div>
    </form>

    </div>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-database.js"></script>
    <script src="../static/common.js"></script>
    <script src="../static/account.js"></script>
</body>