<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        UHPC optimization
    </title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/account.css">
</head>
<body>
    <nav class="navbar">
      <div class="navbar-left">
          <a href="/main">Home</a>
          <a href="/materials">My Materials</a>
          <a href="/spreadsheet">Spreadsheet Template</a>
          <a href="/account" >Account</a>
          <a href="/help" class="selected">Help</a>
      </div>
      <div class="navbar-right">
          <span class="account-name"></span>
          <button class="logout-button" onclick="logout()">Logout</button>
      </div>
    </nav>

    <form id="uploadForm">
      <h1>Help Page</h1>
      <b>For any questions send an email to ktaj1@lsu.edu</b>
    </form>

    </div>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-database.js"></script>
    <script src="../static/common.js"></script>
    <script src="../static/account.js"></script>
</body>